PIUSER=pi
PINEWUSER=sky
PHPVER=7.3
NEXTVER=16.0.5
ENV=prod
RELEASE=buster
DISTRO_1=Debian GNU/Linux 10
DISTRO_2=Raspbian GNU/Linux 10
HOST=spectre
SSHPORT=10317
SSHSUBNET=192.168.0.0/24
ADMINUSER=ncp
ADMINPASS=ownyourbits
DBADMIN=ncadmin
RESTOREDIR=/mnt/usbstick/next-backup_##
CHGDATADIR=/home/nextcloud/data
LETSDOMAIN=mycloud.ownyourbits.com
LETSEMAIL=mycloud@ownyourbits.com
---------------------------------------
DBNAME=nextcloud # inconsistend
NCDIR=/var/www/nextcloud # absolut inconsistend